@import "null.css";

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic);

@font-face {
    font-family: "CircularStd";
    src: url(../fonts/CircularStd-Black.woff2) format("woff2"), url(../fonts/CircularStd-Black.woff) format("woff");
    font-weight: 400;
	font-style: normal;
	font-display: swap;
}

.logo{
    background-color: #4e4861;
    color: white;
    width: 100%;
    padding: 30px 30px;
    font-size: 45px;
    font-family: "CircularStd";
}

.wrapper{
    min-height: 100%;
    overflow: hidden;
    font-family: 'Open Sans';
}

.headline{
    font-size: 28px;
    font-weight: bold;
    margin: 15px;
}

.image{
    text-align: center;
}

.text{
    margin: 15px;
    line-height: 30px;
    text-align: justify;
}

.list{
    padding-left: 30px;
    line-height: 30px;
}

li{
    list-style: disc;
}

.est{
    background-color: #000;
    color: white;
    width: 100%;
    padding: 30px 30px;
    font-size: 15px;
    font-family: "CircularStd";
    text-align: right;
}
